@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

.typo{


  flex: 1;
  color: gold;
  font-family: 'Montserrat';
/* font-weight: 800px; */
font-size: large;
cursor: pointer;

}